@using BlazorMaterialIcons

@page "/"

<h1>Hello, world!</h1>

<MaterialIcon Kind="face" />

<MaterialIcon Theme="@MaterialIcon.Themes.Filled" Size="12">cast_connected</MaterialIcon>
<MaterialIcon Theme="@MaterialIcon.Themes.Outlined" Size="24">cast_connected</MaterialIcon>
<MaterialIcon Theme="@MaterialIcon.Themes.Rounded" Size="48">cast_connected</MaterialIcon>
<MaterialIcon Theme="@MaterialIcon.Themes.Sharp" Size="64">cast_connected</MaterialIcon>
<MaterialIcon Theme="@MaterialIcon.Themes.TwoTone" Size="128">cast_connected</MaterialIcon>


Welcome to your new app.
